body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #121a2b;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

button {
  background: #1b2236;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2a3555;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}

#caseBox {
  background: #121a2b;
  padding: 15px;
  border-radius: 10px;
}
